@charset "utf-8";

/*共通*/
* *::after ::before{
    box-sizing:border-box;
}

a{
    color:#333;
}

:root{
    --main-color:#F27405;
    --background:#F2E6DF;
    --line-color:#F25C05;
}

/*header*/
nav a{
    color:#999;
}


/*welcome page*/
body{
    background:#F2E6DF;
}


.main{
    height:100vh;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-title{
    text-align:center;
    line-height:.7;
}

.buttons{
    display:flex;
    justify-content:space-around;
    margin-top:2rem;
}

.buttons>button{
    border-radius:5px;
    border:1px solid #F25C05;
    background:#F27405;
    padding:0 3rem;
}

.sub-link{
    text-align:center;
    display:block;
    margin-top:1.5rem;
    font-size:.8rem;
    color:#666;
}

/*register*/
.form-wrap{
    max-width:600px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:5rem;
    padding-top: 5rem;
    
}

.logo{
    text-align: center;
    font-size:3rem ;
    line-height:.7;
    margin-bottom:2rem;
}

.form-wrap>div>h2{
    text-align: center;
}

.form-group{
    margin-bottom: .5em;
}

.form-control{
    width: 100%;
}

.submit{
    background:#F27405;
    margin-bottom:1rem;
    margin-top:1rem;
}

.or{
    text-align:center;
    position:relative;
    color:#999;
}

.or:before{
    content:"";
    background:#999;
    width: 30%;
    height: 1px;
    position:absolute;
    top: 1rem;
    left: 1rem;
}
.or:after{
    content:"";
    background:#999;
    width: 30%;
    height: 1px;
    position:absolute;
    top: 1rem;
    right: 1rem;
}

.form{
    border:2px solid var(--line-color);
    border-radius:5px;
    padding:1.7rem;
    margin-top:2rem;
    background:#ddd;
}

/*login*/
.login-form{
    margin-bottom:2rem;
}

/*userinfo*/
.userinfo-wrap{
    max-width:600px;
    margin:0 auto;
}

.user-form{
    border:2cdpx solid var(--line-color);
    border-radius:5px;
    padding:1.7rem;
    margin-top:2rem;
    background:#ddd;
    width: 100%;
}